spring:
  application:
    name: demo

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/dcpcrm?serverTimezone=Asia/Seoul&characterEncoding=utf8
    username: root
    password: 1234

    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      connection-timeout: 30000